body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 1rem;
}

nav ul li {
    list-style: none;
}
a{
    text-decoration: none;
}

a.active {
    color: #ed9238;
    border-bottom: 1px solid;
}

img {
    width: 100%;
}