
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    gap: 1rem;
}

nav ul li {
    list-style: none;
}

i{
    font-size: 1.3rem;
    color: #ed9238;
    margin-right: .6rem;
}

a {
    text-decoration: none;
}

a.active {
    color: #ed9238;
    border-bottom: 1px solid;
}

p{
    font-size: 1.2rem;
}
img {
    width: 100%;
}

a.active {
    color: #ed9238;
}
.about {
    background-color: #f7f7f7;
    padding: 30px 0;
    text-align: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.about img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.about h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.about p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #666;
}

.mission h2,
.why-choose-us h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.mission p,
.why-choose-us ul {
    line-height: 1.5;
    margin-bottom: 30px;
    color: #666;
}

.why-choose-us ul {
    font-size: 1.2rem;
    list-style: none;
    padding-left: 20px;
}

.why-choose-us img {
    max-width: 500px;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Estilo para os ícones da Font Awesome */
.fa-globe::before { content: "\f0ac"; }
.fa-users::before { content: "\f0c0"; }
.fa-clock::before { content: "\f017"; }
.fa-leaf::before { content: "\f06c"; }

.footer {
    margin-top: 30px;
    color: #999;
    font-size: 14px;
}